.modal__wrapper {
  background: white;
  padding: 10px 15px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Poppins", "Montserrat";
}

.word-form {
  font-family: "Poppins", "Montserrat";
}
